/* ------------------------------------------------- padroes ------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    outline: none;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(105, 105, 105);
}
::-webkit-scrollbar-thumb:active{
    background-color: rgb(90, 90, 90);
}
.backToThePage{
    background-color: transparent;
    text-decoration: none;
    z-index: 2;
    color: green;
    display: flex;
    position: absolute;
    padding: 10px;
    border: 5px solid green;
    border-radius: 50px;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    transition: all ease .2s;
    &:hover{
        background-color: green;
        color:white;
    }
    &:active{
        background-color: rgb(0, 99, 0);
        border: 5px solid rgb(0, 99, 0);
        color: lightgray;
    }
}
.backToThePage span{
    font-weight: bold;
    font-size: 2.3rem;
}

/* ------------------------------------------------- inputs ------------------------------------------------- */
input[type="file"]{
    font-size: 1.2rem;
    font-weight: bold;
}
input[type="submit"]{
    font-size: 1.5rem;
    background-color:rgb(0, 128, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    padding: 10px;
    height: 50px;
    &:hover{
        background-color: rgb(0, 104, 0);
        color: rgb(214, 214, 214);
    }
    &:active{
        background-color: green;
        color: white;
    }
}
textarea{
    max-width: 100%;
    height: 50px;
    max-height: 150px;
    border: none;
    border: 2px solid gray;
    padding: 5px;
    font-size: 1.1rem;
    margin-bottom: 20px;
}
/* -------------------------------------------- Registrar funcionario -------------------------------------------- */
.gerencionamentoContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.gerenciarFuncionario, .gerenciarProduto{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    padding-top: 50px;
    gap: 50px;
}
.gerenciarFuncionario form, .gerenciarProduto form{
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.inputGroup{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.inputGroup input, select{
    padding: 5px;
    font-size: 1.2rem;
}

.inputGroup select{
    display: flex;
    padding: 10px;
    color: #000;
    font-size: 1.3rem;
    align-items: center;
    border: 3px solid gray;
    &:focus{
        border: 3px solid green;
    }
}
.inputGroup input{
    border: none;
    border-bottom: 3px solid gray;
    &:focus{
        border-bottom: 3px solid green;
    }
}
.inputGroup label{
    font-weight: bold;
    font-size: 1.1rem;
}
.redDot{
    color: red;
}


.funcionariosManager, .produtosManager{
    display: flex;
    align-items: center;
    display: flex;
    align-items: baseline;
    overflow-y:auto;
    position: relative;
    height: calc(100vh - 200px);
}
.tablesFuncionarios, .tableProdutos, .pedidosTable, .produtosInPedidoTable{
    border-collapse: collapse;
    min-width: 800px;
    height: 100%;
}
.tablesFuncionarios thead, .tableProdutos thead{
    background-color: gray;
    position: sticky;
    top: 0;
}
.pedidosTable thead, .produtosInPedidoTable thead{
    background-color: gray;
}
.tablesFuncionarios th, .tableProdutos th, .pedidosTable th, .produtosInPedidoTable th{
    border: 1px solid black;
    padding: 8px;
}
.tablesFuncionarios td, .tableProdutos td, .pedidosTable td, .produtosInPedidoTable td{
    border: 1px solid black;
    text-align: center;
    min-height: 40px;
    padding: 8px;
    text-decoration: none;
}
#idTable{
    width: 30px;
}
#cpfTable{
    width: 130px;
}
#nomeTable{
    width: 130px;
}
#cpfTable{
    width: 150px;
    min-width: 150px;
}
#telefoneTable{
    min-width: 150px;
    width: 150px;
}
#imagemTable{
    max-height: 50px;
    max-width: 60px;
    width: 60px;
}
#imagemTable img{
    max-height: 50px;
}
#tipoTable{
    text-transform: capitalize;
    max-width: 75px;
    width: 75px;
}
#precoTable{
    max-width: 80px;
    width: 80px;
}
#estoque_disponivelTable{
    max-width: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 1.2rem;
}
#precoTotalTable{
    max-width: 130px;
    width: 110px;
}

#deleteProduto{
    max-width: 100px;
    width: 100px;
}
#deleteProduto button{
    background-color: red;
    color: white;
    font-size: 1.1rem;
    font-weight: 800;
    min-height: 100%;
    border: none;
    border-radius: 10px;
    transition: .2s;
    &:hover{
        background-color: rgb(170, 0, 0);
        cursor: pointer;
    }
    &:active{
        background-color: red;
    }
}
#deleteProduto form{
    margin: 0;
    height: 100%;
    padding: 0;
}






.gerenciarPedidos{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 20px;
}
.gerenciarPedidos .pedidosContainer{
    width: 100%;
}
.pedidosTable, .pedidosTable td{
    width: 100%;
}
.pgTitle{
    color: white;
    padding: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    max-width: 500px;
    min-width: 300px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: green;
    font-size: 2rem;
}   

.produtosDoPedido{
    position: absolute;
    max-height: 200px;
    max-width: 400px;
    width: 400px;
    height: 200px;
    z-index:3;
    top: 50px;
    right: 120px;
    background-color: rgb(218, 215, 215);
    display: none;
    overflow: scroll;
}

#produtosTable{
    display: flex;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}
#produtosTable button{
    padding: 5px;
    text-align: center;
    height: 50px;
    background-color: white;
    border: 3px solid green;
    color: green;
    border-radius: 50px;
    font-size: 1.1rem;
    transition: .2s all;
    &:hover{
        cursor: pointer;
        background-color: rgb(230, 230, 230);
    }
}
#statusTable button{
    padding: 5px;
    background: white;
    font-size: 1rem;
    transition: .2s all;
    &:hover{
        cursor: pointer;
        background-color: rgb(230, 230, 230);
    }
}
#statusTable .processamento{
    border: 2px solid red;
    color: red;
}
#statusTable .Enviado{
    border: 2px solid goldenrod;
    color: goldenrod;
}
#statusTable .Entregue{
    border: 2px solid blue;
    color: blue;
    pointer-events: none;
}
footer{
    background-color: white;
    height: 200px;
    width: 100%;
}



@media screen and (max-width: 800px) {
    .tablesFuncionarios{
        max-width: 100%;
        min-width: 0px;
    }
    .funcionariosManager{
        overflow-x: auto;
        width: 100%;
    }
    .pgTitle{
        margin-top: 100px;
    }
}
@media screen and (max-width: 1200px) {
    .gerenciarFuncionario, .gerenciarProduto{
        flex-direction: column ;
    }
    .tablesFuncionarios{
        max-width: 100%;
        width: 100%;
    }
    body{
        overflow: auto;
    }
}
