/* ------------------------------------------------- padroes ------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    outline: none;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(105, 105, 105);
}
::-webkit-scrollbar-thumb:active{
    background-color: rgb(90, 90, 90);
}
main{
    display: flex;
    justify-content: center;
}
.carrinhoContainer{
    justify-content: center;
    padding: 20px;
    overflow-y:auto;
    position: relative;
    height: calc(100vh - 70px);
}
.carrinhoContainerList{
    display: flex;
    flex-direction: column;
}
.textprodutoCarrinho{
    width: 100%;
}
.produtoCarrinho{
    display: flex;
}
.infoProdutoCarrinho{
    width: 100%;
    display: flex;
    place-items: center;
}
.nomeCarrinho{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.6rem;
}
.precoCarrinho{
    margin-top: 10px;
    font-size: 1.1rem;
}
.precoTotalProduto{
    font-size: 1.3rem;
    margin-top: 30px;
}
footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 100px;
    max-height: 100px;
    width: 100%;
    background-color: white;
    border-top: 2px solid green;
}
.inFooter{
    align-items: center;
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: space-between;
}
footer button{
    height: 70px;
    border: 2px solid green;
    background-color: white;
    color: green;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    width: 15rem;
    transition: .4s ease;
    &:hover{
        cursor: pointer;
        background-color: green;
        color: white;
    }
}

.backToThePage{
    background-color: transparent;
    text-decoration: none;
    color: green;
    display: flex;
    position: absolute;
    z-index: 3;
    padding: 10px;
    border: 5px solid green;
    border-radius: 50px;
    left: 0;
    margin-top: 10px;
    margin-left: 10px;
    transition: all ease .2s;
    &:hover{
        background-color: green;
        color:white;
    }
    &:active{
        background-color: rgb(0, 99, 0);
        border: 5px solid rgb(0, 99, 0);
        color: lightgray;
    }
}
.backToThePage span{
    font-weight: bold;
    font-size: 2.3rem;
}

.precoTotalProdutos{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}
.precoTotalProdutos strong{
    font-size: 1.9rem;
}
.qntEditor{
    display: flex;
    width: 100%;
}
.qntBtn{
    border: 1px solid black;
    height: 30px;
    width: 30px;
    display: flex;
    padding-top: 3px;
    align-items: center;
    justify-content: center;
}
.quantDown, .quantUp{
    color: white;
    background-color: green;
    font-size: 25px;
    &:hover{
        cursor: pointer;
        background-color: rgb(1, 160, 1);
    }
    &:active{
        background-color: rgb(2, 129, 2);
    }
}
.viewQnt{
    background-color: white;
    font-size: 18px;
}
.imgContainer{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgContainer img{
    height: 200px;
    position: relative;
    display: flex;
}
.containerRemove{
    display: flex;
    justify-content: right;

}
.containerRemove button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    display: flex;
    &:hover{
        cursor: pointer;
        background-color: rgb(216, 1, 1);
        color: rgb(235, 235, 235);
    }
}
.carroVazio{
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
}
.carroVazio div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carroVazio img{
    opacity: 0.6;
    width: 250px;
    margin-right: 25px;
}
.carroVazio p{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    font-size: 2rem;
}

@media screen and (max-width:1000px){
    .inFooter{
        justify-content: center;
        gap: 60px;
    }
}
@media screen and (max-width:600px){
    .backToThePage{
        padding: 5px;
        border: none;
        border: 2px solid green;
        transition: none;
        &:hover{
            border: 2px solid green;
        }
        &:active{
            border: 2px solid green;
        }
    }
    .backToThePage span{
        font-size: 1.7rem;
    }
    .produtoCarrinho{
        display: flex;
        height: 300px;
    }
    .nomeCarrinho{
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.1rem;
    }
    .precoCarrinho{
        margin-top: 10px;
        font-size: 1rem;
    }
    .imgContainer{
        height: 130px;
    }
    .imgContainer img{
        height: 130px;
    }
    .precoTotalProduto{
        font-size: 1.1rem;
    }
    .inFooter{
        gap: 30px;
    }
    footer button{
        min-width: 150px;
    }
}